- title "#{<%= class_name %>.model_name.human(:count => :many)}: Übersicht"

%table
  %thead
    %tr
      <%- for attribute in model_attributes -%>
      %th= <%= class_name %>.human_attribute_name(:<%= attribute.name %>)
      <%- end -%>
      %th= t(:actions)
  %tbody
    - for <%= singular_name %> in @<%= plural_name %>
      %tr
        <%- for attribute in model_attributes -%>
        %td= <%= singular_name %>.<%= attribute.name %>
        <%- end -%>
        %td
          <%- if action? :show -%>
          = link_to t(:show), <%= singular_name %>
          <%- end -%>
          <%- if action? :edit -%>
          = link_to t(:edit), edit_<%= singular_name %>_path(<%= singular_name %>)
          <%- end -%>
          <%- if action? :destroy -%>
          = link_to t(:destroy), <%= singular_name %>, :confirm => t('are_you_sure'), :method => :delete
          <%- end -%>

<%- if actions? :new -%>
%p= link_to "#{<%= class_name %>.model_name.human} erstellen", new_<%= singular_name %>_path
<%- end -%>
