- title "#{<%= class_name %>.model_name.human} Details"

<%- for attribute in model_attributes -%>
%p
  = <%= class_name %>.human_attribute_name(:<%= attribute.name %>) + ":"
  %strong= @<%= singular_name %>.<%= attribute.name %>
<%- end -%>

%p
  <%- if action? :edit -%>
  = link_to t(:edit), edit_<%= singular_name %>_path(@<%= singular_name %>)
  |
  <%- end -%>
  <%- if action? :destroy -%>
  = link_to t(:destroy), @<%= singular_name %>, :confirm => t('are_you_sure'), :method => :delete
  |
  <%- end -%>
  <%- if action? :index -%>
  = link_to t(:index), <%= plural_name %>_path
  <%- end -%>
